<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <div class="left">
                        <a class="nav-link1" asp-area="" asp-controller="Trip" asp-action="ListAllTrips">Trips</a>
                        <a class="nav-link1" asp-area="" asp-controller="Location" asp-action="Index">Locations</a>

                        <a class="nav-link1" asp-area="" asp-controller="User" asp-action="Index">Search users</a>
                    </div>

                    <div class="right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link1" asp-controller="User" asp-action="Profile">Profile</a>
                            <a class="nav-link1" asp-controller="Trip" asp-action="Create">Add trip</a>
                            <a class="nav-link1" asp-controller="User" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="nav-link1" asp-controller="User" asp-action="Login">Login</a>

                            <a class="nav-link1" asp-controller="User" asp-action="Register">Register</a>

                        }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                        {
                            <a class="nav-link1" asp-controller="Admin" asp-action="Index">Admin&Mod Dashboard</a>
                        }

                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>