
.trip-subheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: black;
}

.tp-form {
    background-color: #f2f7f7;
    border: 1px solid #b5b5b5;
    margin: 10px;
    border-radius: 5px;
}


.tp-form:hover {
    text-decoration: none;
    background-color: #d5dede;
}

.trip-redirect-a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: yellow;
}

.trip-preview:hover {
    text-decoration: none;
}

.tp-div {
    margin: 10px;
}

.tp-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.tp-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-style: italic;
    color: black;
    margin-left: 10px;
    margin-bottom: 1px;
}


.tp-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: black;
    margin-left: 10px;
    margin-bottom: 1px;
}

.rd {
    background-color: #f2f7f7;
    border: 1px solid #dce3e3;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}

.rp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #283538;
    margin: 3px;
}

.review-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    margin: 3px;
}

.review-vote {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
}
.review-vote:hover {
    color: #912d2d;
    text-decoration: none;
}

.challenge-type {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: italic;
    color: black;
}

.create-button {
    background-color: #f2f7f7;
    border: 1px solid #dce3e3;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.challenge-p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.right {
    float : right;
}

.left {
    float: left;
}

.nav-link1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
}

.text-block {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center;
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    margin-bottom: 30px;
}