<h1>What is this app about?</h1>
<div>
    <h3>Do you like hiking, planing trips with your friends...?</h3>
    <p>
        The idea of this app is to create a space for you and your friends, where you can plan your trips as you like.
    </p>
    
    <h3>Plan new adventure</h3>
    <p>
        Plan your trip the way you want. Choose the places you want to visit, add your friends, set up the time and you 
        are ready to go. 
    </p>
    
    <h3>Help us explore new places</h3>
    <p>
        If there isn't location in our database you'd like to add in your trip, you can simply create one. 
    </p>
    
    <h3>Store your memories</h3>
    <p>
        In your profile you can see all your trips, which creats a complete overview of your previous and maybe future 
        activity. You can return to your memories from each adventure you've experienced whenever you want.
    </p>

    <h3>Let the others know what you think about their advantures</h3>
    <p>
        You admire someone else's previous experience on the road. Let him know by adding a review below the trip you 
        so admire.
    </p>

    <h3>Chalenges</h3>
    <p>
        You can challenge yourself by creating your own hiking goals weekly, monthly or yearly. For example you can
        create new challenge for next month that you try to conquer 8 mountains. If you finnish this plan of yours,
        consider this challenge done. 
        You can display all your challenges on your profile and see how you've been doing with your recent goals. 
    </p>

</div>

