@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <img class="img-responsive center-block" src="css/Images/drahova.jpg" alt="Nature" width="100%"/>
</div>


<a class="bg-text" asp-area="" asp-controller="Home" asp-action="Detail">HIKING APP</a>




