@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="row">
        <img class="img-responsive center-block" src="css/Images/bw.jpg" alt="Nature" width="100%">
    </div>
</div>

<div class="bg-text">HIKING APP</div>



