<link rel="stylesheet" href="~/css/custom.css" />

<h1>Admin/Moderator dashboard</h1>

<a class="admin-dash-link" asp-controller="Admin" asp-action="ShowSubmittedLocations">Manage submitted locations</a>