@model Application.Models.UserModels.UserChangePasswordModel

<h1>ChangePassword</h1>
<hr />

@using (Html.BeginForm("ChangePassword", "User", new { Id = int.Parse(User.Identity.Name) }))
{
    <div class="form-group">
        <label asp-for="Password" class="control-label">New password</label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label">Confirm password</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
}