<div class="text-center">
    <h1 class="display-4">Challenge index</h1>

    <br>
    <a class="nav-link text-dark" asp-area="" asp-controller="Challenge" asp-action="CreateChallenge">Create new challenge</a>
    
</div>